.search-form {
    padding: 0 2rem;
    .form-group {
        display: flex;
        #searchField {
            width: 100%;
        }
    }
}

@media(min-width : 600px) {

}

@media(min-width : 1200px) {

}